@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --violet: #4d0690;
  --softViolet: #787e9f;
  --pink: #ff5a79;
  --border: #dcdfe6;
  --white: #fff;
  --black: #000;
}

body {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
